body {
    margin: 0;
    padding: 0;
    background: linear-gradient(60deg, #f04aff 40%, #e921fc 60%);
}

table {
    border-collapse: collapse;
    width: 900px;
    margin: 100px auto;
}

th {
    background: #1d1d36;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
    
}

tbody {
    background: #fff;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

tbody tr:nth-child(2) {
    background-color: #ebe9e9;
}

tbody tr:nth-child(4) {
    background-color: #ebe9e9;
}

tbody tr:nth-child(6) {
    background-color: #ebe9e9;
}

tbody tr:nth-child(8) {
    background-color: #ebe9e9;
}

tbody tr:nth-child(10) {
    background-color: #ebe9e9;
}

tbody tr:nth-child(12) {
    background-color: #ebe9e9;
}

tbody tr:nth-child(14) {
    background-color: #ebe9e9;
}

tbody tr:hover {
    transform: translate(-1px, -1px);
    -webkit-transform: translate(-1px, -1px);
    -moz-transform: translate(-1px, -1px);
    -ms-transform: translate(-1px, -1px);
    -o-transform: translate(-1px, -1px);
  }